.upload-overlay
    position fixed
    width 100%
    height 100%
    left 0
    top 0
    background rgba(#000, .33)

.upload-form
    position fixed
    background #fff
    width 100%
    height 50%
    top calc(-50%)
    left 0
    font-size 0
    padding 18px
    box-sizing border-box
    border-top 1px solid #ccc
    box-shadow 0
    transition top .3s ease-in-out, box-shadow .3s ease-in-out

    &.active
        box-shadow 0 3px 5px rgba(#000, .1)
        top 0

    > section
        display inline-block
        font-size 18px
        vertical-align top

    .form
        width calc(100% - 24px)

        .field
            margin-bottom 1em

            label
                display block
                font-weight bold
                margin-bottom .4em

        .btn
            padding .5em 1em
            line-height 1
            border-radius 3px
            background #3e70ff
            color #fff
            text-align center
            border 0
            cursor pointer

            &:hover
                background lighten(#3e70ff, 10%)

    .actions
        width 24px