.upload-overlay(ng-show="active", ng-click="close()")
.upload-form(ng-if="active", ng-class="{ active: active }")
    section.form
        form(ng-submit="submit(models)")
            .field
                label Select File
                input(type='file', ng-model="models.files", ng-accept="'image/*'", ng-file-select)
            button.btn(type='submit') Upload

    section.actions
        .action.close(ng-click="close()")