.file-details-overlay
    position fixed
    width 100%
    height 100%
    left 0
    top 0
    background rgba(#000, .33)

.file-preview
    position fixed
    top 25px
    text-align center
    display block
    width 100%
    height 50%
    pointer-events none

    .img
        max-height calc(100% - 50px)
        max-width calc(100% - 50px)

.file-details
    position fixed
    background #fff
    width 100%
    height 50%
    bottom calc(-50%)
    left 0
    font-size 0
    padding 18px
    box-sizing border-box
    border-top 1px solid #ccc
    box-shadow 0
    transition bottom .3s ease-in-out, box-shadow .3s ease-in-out

    &.active
        box-shadow 0 -3px 5px rgba(#000, .1)
        bottom 0

    > section
        display inline-block
        font-size 18px
        vertical-align top

    .info
        width calc(100% - 24px)

        .field
            margin-bottom 1em

            label
                display block
                font-weight bold
                margin-bottom .4em

    .actions
        width 24px