.file-details-overlay(ng-show="active", ng-click="close()")
.file-preview(ng-if="active && hasPreview")
    img.img(ng-src="/api/raw/{{path(file)}}")
.file-details(ng-if="file && active", ng-class="{ active: active }")
    section.info
        .field.name
            label Filename
            span.value {{file.name}}

        .field.size
            label Filesize
            span.value {{file.size | bytes}}

        .field.created-at
            label Created At
            span.value {{file.created_at | date:'medium'}}

        .field.modified-at
            label Last Modified
            span.value {{file.modified_at | date:'medium'}}

    section.actions
        .action.close(ng-click="close()")
        a.action.download(ng-href='/api/download/{{path(file)}}')