doctype html
html(ng-app='file-explorer')
    head
        title File Explorer

        link(rel='stylesheet', href='bower_components/reset-css/reset.css')
        link(rel='stylesheet', href='bower_components/reset-css/reset.css')
        link(rel='stylesheet', href='ng/file-explorer.css')

        script(src='vendor/modernizr.js')
        script(src='bower_components/angular/angular.js')
        script(src='bower_components/angular-route/angular-route.js')
        script(src='bower_components/angular-touch/angular-touch.js')
        script(src='bower_components/ng-file-upload/angular-file-upload.js')
        script(src='ng/file-explorer-templates.min.js')
        script(src='ng/file-explorer.js')

        meta(name='viewport', content='width=device-width, initial-scale=1')

    body
        .ng-view
