.header
    display block
    font-size 0
    background #f2f2f2
    border-bottom 1px solid #ccc
    position relative

    .dir
        display inline-block
        padding 9px 9px 6px 9px
        font-size 18px
        cursor pointer
        position relative
        box-sizing border-box
        border-bottom 3px solid transparent
        /*text-indent 18px*/

        html.no-touch &:hover
            background-color #f2f2f2
            border-bottom 3px solid #3e70ff

        &:after
            content '/'
            margin-left 18px

        &:first-child:after, &:last-child:after
            content ''
            margin 0

        &:first-child
            background-image url(/images/icon-home.png)
            background-repeat no-repeat
            background-position 9px center
            padding-left 42px
            
        /*&:after
            content ''
            display block
            position absolute
            right -18px
            top 0
            width 0
            height 0
            border-top 18px solid transparent
            border-bottom 18px solid transparent
            
            border-left 18px solid #eee*/

    .actions
        position absolute
        top 6px
        right 6px

        .file-upload-input
            position fixed
            top -100px
            right -100px
            width 0
            height 0
            overflow hidden
            opacity 0