.file-details-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.33);
}
.file-preview {
  position: fixed;
  top: 25px;
  text-align: center;
  display: block;
  width: 100%;
  height: 50%;
  pointer-events: none;
}
.file-preview .img {
  max-height: calc(100% - 50px);
  max-width: calc(100% - 50px);
}
.file-details {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 50%;
  bottom: calc(-50%);
  left: 0;
  font-size: 0;
  padding: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  -webkit-transition: bottom 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -moz-transition: bottom 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -o-transition: bottom 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -ms-transition: bottom 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: bottom 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.file-details.active {
  -webkit-box-shadow: 0 -3px 5px rgba(0,0,0,0.1);
  box-shadow: 0 -3px 5px rgba(0,0,0,0.1);
  bottom: 0;
}
.file-details > section {
  display: inline-block;
  font-size: 18px;
  vertical-align: top;
}
.file-details .info {
  width: calc(100% - 24px);
}
.file-details .info .field {
  margin-bottom: 1em;
}
.file-details .info .field label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.4em;
}
.file-details .actions {
  width: 24px;
}

.header {
  display: block;
  font-size: 0;
  background: #f2f2f2;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.header .dir {
  display: inline-block;
  padding: 9px 9px 6px 9px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
/*text-indent 18px*/
/*&:after
            content ''
            display block
            position absolute
            right -18px
            top 0
            width 0
            height 0
            border-top 18px solid transparent
            border-bottom 18px solid transparent
            
            border-left 18px solid #eee*/
}
html.no-touch .header .dir:hover {
  background-color: #f2f2f2;
  border-bottom: 3px solid #3e70ff;
}
.header .dir:after {
  content: '/';
  margin-left: 18px;
}
.header .dir:first-child:after,
.header .dir:last-child:after {
  content: '';
  margin: 0;
}
.header .dir:first-child {
  background-image: url("/images/icon-home.png");
  background-repeat: no-repeat;
  background-position: 9px center;
  padding-left: 42px;
}
.header .actions {
  position: absolute;
  top: 6px;
  right: 6px;
}
.header .actions .file-upload-input {
  position: fixed;
  top: -100px;
  right: -100px;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

.thing {
  padding: 15px;
  border-top: 1px solid #f2f2f2;
  cursor: pointer;
  background: #fff;
  color: #222;
  font-size: 0;
}
.thing:first-child {
  border-top: 0;
}
html.no-touch .thing:hover {
  background: #eee;
}
.thing .icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  vertical-align: middle;
}
.thing .icon.directory {
  background-image: url("/images/icon-dir-color.png");
}
.thing .icon.file {
  background-image: url("/images/icon-file-color.png");
}
.thing > span {
  font-size: 18px;
  line-height: 32px;
  vertical-align: middle;
  margin-left: 1em;
}

.upload-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.33);
}
.upload-form {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 50%;
  top: calc(-50%);
  left: 0;
  font-size: 0;
  padding: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  -webkit-transition: top 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -moz-transition: top 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -ms-transition: top 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.upload-form.active {
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.1);
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
  top: 0;
}
.upload-form > section {
  display: inline-block;
  font-size: 18px;
  vertical-align: top;
}
.upload-form .form {
  width: calc(100% - 24px);
}
.upload-form .form .field {
  margin-bottom: 1em;
}
.upload-form .form .field label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.4em;
}
.upload-form .form .btn {
  padding: 0.5em 1em;
  line-height: 1;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #3e70ff;
  color: #fff;
  text-align: center;
  border: 0;
  cursor: pointer;
}
.upload-form .form .btn:hover {
  background: #517eff;
}
.upload-form .actions {
  width: 24px;
}

html,
body,
.ng-view {
  height: 100%;
}
body {
  font-family: "Helvetic Neue", Helvetica, Arial, sans-serif;
}
.action {
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
.action.close {
  background-image: url("/images/icon-close.png");
}
.action.download {
  background-image: url("/images/icon-download.png");
}
.action.upload {
  background-image: url("/images/icon-upload.png");
}
