.thing
    padding 15px
    border-top 1px solid #f2f2f2
    cursor pointer
    background #fff
    color #222
    font-size 0

    &:first-child
        border-top 0

    html.no-touch &:hover
        background #eee

    .icon
        width 32px
        height 32px
        display inline-block
        background-repeat no-repeat
        background-position center
        background-size contain
        vertical-align middle

        &.directory
            background-image url(/images/icon-dir-color.png)

        &.file
            background-image url(/images/icon-file-color.png)

    > span
        font-size 18px
        line-height 32px
        vertical-align middle
        margin-left 1em