html, body, .ng-view
    height 100%

body
    font-family "Helvetic Neue", Helvetica, Arial, sans-serif

.action
    width 24px
    height 24px
    margin-bottom 8px
    cursor pointer
    background-repeat no-repeat
    background-position center
    display block

    &.close
        background-image url(/images/icon-close.png)

    &.download
        background-image url(/images/icon-download.png)

    &.upload
        background-image url(/images/icon-upload.png)
